h6 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid;
  text-align: center;
}
.card-price {
  font-size: 3rem;
  margin: 0;
  font-weight: normal;
}
.period {
  font-size: 1rem;
  font-style: oblique;
}
.text {
  text-align: center;
}
.card {
  background-color: skyblue;
  text-align: center;
}
